[user]
	name = Filip Rak
	email = filip.rak@ikol.com
[core]
	autocrlf = false
[alias]
	stash-unapply = !git stash show -p | git apply -R
	c = commit
	cl = !SKIP_HOOKS=1 git commit -am 'Work in progress'
	cls = !SKIP_HOOKS=1 git commit -am 'Work in progress [skip ci]'
	i = !git uo && git u
	s = status
	l = log --oneline
	xc = reset HEAD^1
	u = !git um && git pull origin master
	d = diff
	p = push origin HEAD
	um = pull origin master:master
	f = fetch
	current = rev-parse --abbrev-ref HEAD
	uo = !CURRENT=$(git current) && git pull origin $CURRENT
	lmsg = log --format=%B -n 1
	sci = !CMSG="\"$(git lmsg) [skip ci]\"" && git commit --amend --no-edit -m "\"$CMSG\""
	m = checkout master
